---
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Main from '../layouts/Main.astro'
import HeroCard from '../components/HeroCard.astro'
import Contact from '../components/ContactForm.astro'
import { heroCardsData } from '../data/HeroCardsData'
import ServicesCard from '../components/ServicesCard.astro'
import Gallery from '../components/PhotoGallery.astro'
import WhyUs from '../components/WhyUs.astro'
import PricingCard from '../components/PricingCard.astro'
import { servicesData } from '../data/ServicesData.ts'
import { pricingData } from '../data/PricingData.ts'
---

<Main title="Epic Tails">
	<Hero />
	<section id="hero-banner-section">
		<div class="hero-swoop">
			<img src="/icons/paw-prints-4.svg" alt="paw prints" />
		</div>
		<div class="hero-cards-container">
			{
				heroCardsData.map((card) => (
					<HeroCard
						id={card.id}
						icon={card.icon}
						iconDesc={card.iconDesc}
						title={card.title}
						blurb={card.blurb}
					/>
				))
			}
		</div>
	</section>

	<About />
	<Gallery />
	<section id="services-section">
		<div class="services-container">
			<div class="services-header">
				<p class="eyebrow-text">Services</p>
				<h2>Our <span class="focus-font">Pet Care</span> Services</h2>
				<div class="header-underline"></div>
			</div>
			<div class="services-cards-container">
				{
					servicesData.map((card) => (
						<div class="services-cards">
							<ServicesCard {...card} />
						</div>
					))
				}
			</div>
		</div>
	</section>
	<WhyUs />
	<section id="pricing-section">
		<div class="pricing-container">
			<div class="pricing-header">
				<p class="eyebrow-text">Pricing</p>
				<h2>Our <span class="focus-font">Pricing</span> Packages</h2>
				<div class="header-underline"></div>
			</div>
			<div class="pricing-card-container">
				{
					pricingData.map((card) => (
						<div class="pricing-cards">
							<PricingCard {...card} />
						</div>
					))
				}
			</div>
		</div>
	</section>
	<section id="contact-section">
		<div class="contact-container">
			<div class="contact-header">
				<p class="eyebrow-text">Contact</p>
				<h2>Contact Us</h2>
				<div class="header-underline"></div>
				<p>
					Please drop us a line with any questions you may have. If the message is sent during
					business hours we will respond within 2 hours. Outside of normal business hours our
					response time is 24 hours.
				</p>
			</div>
			<Contact />
		</div>
	</section>

	<style>
		/* Hero Banner */
		.hero-cards-container {
			display: grid;
			grid-template-columns: 1fr;
			gap: 20px;
			width: 100%;
			max-width: 1300px;
		}

		.hero-swoop {
			position: absolute;
			bottom: 0;
			width: 100%;
		}

		.hero-swoop img {
			width: 100%;
		}
		/* Services */
		.services-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: auto;
			max-width: 1300px;
		}

		.services-header {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			text-align: center;
		}

		.services-header h2 {
			padding-bottom: 17px;
		}
		.services-cards-container {
			display: grid;
			grid-template-columns: 1fr;
			gap: 1.5rem;
			align-items: stretch;
			width: 100%;
		}

		/* Pricing Cards */

		.pricing-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			max-width: 1300px;
		}
		.pricing-header {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			text-align: center;
		}
		.pricing-card-container {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			gap: 1.5rem;
			width: 100%;
		}

		.pricing-header h2 {
			padding-bottom: 17px;
		}

		/* Contact Form */

		.contact-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: auto;
			max-width: 1300px;
		}
		.contact-header {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		/* Media Queries*/
		@media (min-width: 768px) {
			.hero-cards-container {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 20px;
			}
			.services-cards-container {
				grid-template-columns: repeat(2, 1fr);
			}
			.pricing-card-container {
				grid-template-columns: repeat(2, 1fr);
				gap: 3rem;
			}
		}

		@media (min-width: 992px) {
			.hero-cards-container {
				gap: 2rem;
				max-width: 800px;
			}
			.services-cards-container {
				grid-template-columns: repeat(3, 1fr);
				gap: 2rem;
			}
		}
		@media (min-width: 1100px) {
			.pricing-card-container {
				grid-template-columns: repeat(4, 1fr);
				gap: 1.5rem;
			}
		}

		@media (min-width: 1300px) {
			.hero-cards-container {
				gap: 5rem;
				max-width: 900px;
			}

			.pricing-card-container {
				gap: 3rem;
			}
		}
	</style>
</Main>
