---

// import Cards from "../components/BlogCards.astro";

import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Main from "../layouts/Main.astro";
import ServicesCards from "../components/ServicesCards.astro";
import ContactForm from "../components/ContactForm.astro";
import ContactInfo from "../components/ContactInfo.astro";
import WhyUs from "../components/WhyUs.astro";
import MeetTeam from '../components/TeamMembers.astro';
import Gallery from '../components/Gallery.astro';


const servicesCardsData = [
  {
    icon: "https://res.cloudinary.com/daecnx7ih/image/upload/v1720016516/pet-clock-1_jjatgy.svg",
    iconAlt: "cat icon",
    title: "Cat and Critter Care",
    desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
  },

];

const teamMembersData = [
  {
    image: "https://res.cloudinary.com/daecnx7ih/image/upload/v1720205296/blue-guy-circle_ofawd6.png",
    imageAlt: "Jenna Jameson",
    name: "Jenna Jameson",
    role: "President & CEO",
    color: "#7099E4",
  },

];

const images = [
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1718906392/cld-sample.jpg', alt: 'photo 1' },
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1719844384/dogs-woman-adobe_pmdl1m.jpg', alt: 'photo 1' },
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1719430068/cat-playing_av3jlj.jpg', alt: 'photo 2' },
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1719429629/jamie-street-UtrE5DcgEyg-unsplash_twbssn.jpg', alt: 'photo 4' },
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1719844443/hugging-dog-adobe_rzbxe5.jpg', alt: 'photo 3' },
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1719432754/sunset-dog_ecjb1s.jpg', alt: 'photo 4' },
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1719432558/woman-dog_ybhzr4.jpg', alt: 'photo 4' },
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1719429997/alvan-nee-1VgfQdCuX-4-unsplash_kxkodu.jpg', alt: 'photo 4' },
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1719432609/cat-hug_sf2g3g.jpg', alt: 'photo 4' },
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1719432537/golden-with-mom_cxh1b5.jpg', alt: 'photo 4' },
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1719432419/cat-playing_hu5t9z.jpg', alt: 'photo 4' },
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1719430068/cat-playing_av3jlj.jpg', alt: 'photo 4' },
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1719432309/dogs-stick_rwdn8v.jpg', alt: 'photo 4' },
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1719432253/dog-playing_uw3vyl.jpg', alt: 'photo 4' },
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1719432331/dog-photoshoot_h1vwyb.jpg', alt: 'photo 4' },
  { src: 'https://res.cloudinary.com/daecnx7ih/image/upload/v1719432253/dog-playing_uw3vyl.jpg', alt: 'photo 4' },

// Astro.glob
// const blogs = await Astro.glob<{
//   poster: string;
//   title: string;
//   subtitle: string;
// }>("../pages/blogs/*.md");

const servicesCardsData = [
    {
      icon: "https://res.cloudinary.com/daecnx7ih/image/upload/v1720016516/pet-clock-1_jjatgy.svg",
      iconAlt: "cat icon",
      title: "Cat and Critter Care",
      desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
    },
    {
      icon: "https://res.cloudinary.com/daecnx7ih/image/upload/v1720016516/pet-clock-1_jjatgy.svg",
      iconAlt: "cat icon",
      title: "Cat and Critter Care",
      desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
    },
    {
      icon: "https://res.cloudinary.com/daecnx7ih/image/upload/v1720016516/pet-clock-1_jjatgy.svg",
      iconAlt: "cat icon",
      title: "Cat and Critter Care",
      desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
    },
    {
      icon: "https://res.cloudinary.com/daecnx7ih/image/upload/v1720016516/pet-clock-1_jjatgy.svg",
      iconAlt: "cat icon",
      title: "Cat and Critter Care",
      desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
    },
    {
      icon: "https://res.cloudinary.com/daecnx7ih/image/upload/v1720016516/pet-clock-1_jjatgy.svg",
      iconAlt: "cat icon",
      title: "Cat and Critter Care",
      desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
    },
    {
      icon: "https://res.cloudinary.com/daecnx7ih/image/upload/v1720016516/pet-clock-1_jjatgy.svg",
      iconAlt: "cat icon",
      title: "Cat and Critter Care",
      desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
    },
  ]

  const contactInfoData = [
  {
    icon: "fa-solid fa-location-dot",
    iconDesc: "locaion pin icon",
    title: "Location",
    desc: "888 Pacific St, Brooklyn, NY 11238",
  },
  {
    icon: "fa-regular fa-clock",
    iconDesc: "clock icon",
    title: "Hours",
    desc: "Mon - Fri 8:00am - 8:00pm",
  },
  {
    icon: "fa-solid fa-phone-volume",
    iconDesc: "telephone icon",
    title: "Telephone",
    desc: "917-666-4444",
  },
  {
    icon: "fa-regular fa-envelope",
    iconDesc: "email icon",
    title: "Email",
    desc: "info@epictails.com",
  },
];
---

<Main title="Epic Tails">
  <Hero />
  <About/>


  <section id="services-section">
    <ServicesCards servicesCards={servicesCardsData} />
  </section>
  <WhyUs />
  <section id="meet-team">
    <MeetTeam teamMember={teamMembersData} />
  </section>

  <section id="contact-section">
    <div class="contact-container">
      <div class="contact-left"></div>
      <div class="contact-right">
        <h2>Get In Touch!</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi ipsum consectetur aperiam enim perspiciatis aut placeat aliquam sapiente minus laboriosam!</p>
      </div>
    </div>
  </section>

  <section id="gallery-section">
    <h2>Photo Gallery</h2>
    <Gallery images={images} />
  </section>

  <div class="blue-section">
  <section id="services-section">
    <ServicesCards servicesCards={servicesCardsData} />
 
  </section>
  <WhyUs />
  </div>
  <section id="contact-section">
    <div class="contact-container">
      <div class="contact-left">
        <ContactForm />
      </div>
      <div class="contact-right">
        <h2>Get In Touch!</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi ipsum consectetur aperiam enim perspiciatis aut placeat aliquam sapiente minus laboriosam!</p>
        <ContactInfo contactInfo={contactInfoData} />
      </div>
    </div>
  </section>

</Main>

<style>
  
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .contact-left {
    order: 2;
    width: 100%;
  }

  .contact-right {
    order: 1;
    width: 100%;
  }

  .contact-right p {
    margin-bottom: 40px;
  }

  @media (min-width: 1024px) {
    .contact-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: auto;
    }

    .contact-left {
      order: 1;
      width: 50%;
    }


  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .contact-left {
    order: 2;
    width: 100%;
  }

  .contact-right {
    order: 1;
    width: 100%;
  }

  .contact-right p {
    margin-bottom: 40px;
  }

  @media (min-width: 1024px) {
    .contact-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: auto;
    }

    .contact-left {
      order: 1;
      width: 50%;
   
    }


    .contact-right {
      order: 2;
      width: 50%;
      margin-left: 40px;
    }
  }

</style>


</style>


