---
export interface Props {
	id: number
	icon: string
	iconDesc: string
	title: string
	blurb: string
}

const { id, icon, iconDesc, title, blurb } = Astro.props
---

<div class="hero-card-container">
	<img
		src="/images/hero-card-blob.svg"
		alt="light blue blob"
		class={`hero-blob-inner hero-blob-inner-${id}`}
	/>
	<img
		src="/images/hero-card-blob-1.svg"
		alt="lighter blue blob"
		class={`hero-blob-outer hero-blob-outer-${id}`}
	/>

	<div class="hero-icon-container">
		<img src={icon} alt={iconDesc} />
	</div>
	<div class="hero-card-text">
		<h4>{title}</h4>
		<p>{blurb}</p>
	</div>
</div>

<style>
	.hero-card-container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		height: 100%;
		max-height: 300px;
		padding: 25px;
		background: var(--white);
		border-radius: 20px;
		overflow: hidden;
		aspect-ratio: 1/1;
		z-index: 1;
	}
	.hero-blob-inner,
	.hero-blob-outer {
		position: absolute;
		z-index: 2;
	}

	.hero-blob-inner {
		z-index: 3;
	}

	.hero-blob-inner-1,
	.hero-blob-outer-1 {
		transform: rotate(10deg);
	}

	.hero-blob-inner-1 {
		top: -120px;
		left: -130px;
		width: 250px;
	}
	.hero-blob-outer-1 {
		top: -130px;
		left: -140px;
		width: 310px;
	}

	.hero-blob-inner-2,
	.hero-blob-outer-2 {
		right: 0;
		transform: rotate(20deg);
	}

	.hero-blob-inner-2 {
		top: -160px;
		width: 270px;
	}
	.hero-blob-outer-2 {
		top: -180px;
		width: 340px;
	}

	.hero-blob-inner-3,
	.hero-blob-outer-3 {
		top: -140px;
		right: -115px;
		transform: rotate(40deg);
	}

	.hero-blob-inner-3 {
		width: 280px;
	}
	.hero-blob-outer-3 {
		width: 320px;
	}

	.hero-icon-container {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--primary-dark);
		height: 100px;
		width: 100px;
		border-radius: 50%;
		z-index: 4;
	}

	.hero-icon-container img {
		width: 70px;
		height: 70px;
	}

	.hero-card-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 10;
	}

	.hero-card-text p {
		padding-top: 10px;
		text-align: center;
	}

	@media (min-width: 768px) {
		.hero-card-container {
			padding: 10px;
		}

		.hero-icon-container {
			height: 70px;
			width: 70px;
		}

		.hero-icon-container img {
			width: 50px;
			height: 50px;
		}

		.hero-blob-inner-1 {
			left: -130px;
		}
		.hero-blob-outer-1 {
			top: -150px;
			left: -160px;
		}

		.hero-blob-inner-2 {
			top: -180px;
		}
		.hero-blob-outer-2 {
			top: -200px;
		}

		.hero-blob-inner-3,
		.hero-blob-outer-3 {
			top: -180px;
			right: -125px;
		}

		.hero-card-text p {
			padding-top: 5px;
		}
	}

	@media (min-width: 820px) {
		.hero-icon-container {
			height: 80px;
			width: 80px;
		}

		.hero-icon-container img {
			width: 60px;
			height: 60px;
		}
	}
	@media (min-width: 992px) {
	}
</style>
