---
import type { PricingData } from '../data/PricingData'
import Button from './Button.astro'

const props = Astro.props as PricingData
---

<div class="pricing-card">
	<div class="pricing-card-container">
		<h4>{props.title}</h4>
		<div class="price-range">{props.priceRange}</div>
		<ul class="feature-points">
			{
				props.features.map((feature) => (
					<li>
						<svg
							height="20px"
							width="20px"
							viewBox="0 0 310.277 310.277"
							xmlns="http://www.w3.org/2000/svg"
							fill={props.iconColor}
						>
							<g>
								<path
									d="M155.139,0C69.598,0,0,69.598,0,155.139c0,85.547,69.598,155.139,155.139,155.139 
          c85.547,0,155.139-69.592,155.139-155.139C310.277,69.598,240.686,0,155.139,0z 
          M144.177,196.567L90.571,142.96l8.437-8.437 
          l45.169,45.169l81.34-81.34l8.437,8.437L144.177,196.567z"
								/>
							</g>
						</svg>
						{feature}
					</li>
				))
			}
		</ul>
		<Button href="#" size="lg" style="secondary" class="about-btn">
			{props.buttonLabel}
		</Button>
	</div>
</div>

<style>
	.pricing-card {
		display: flex;
		padding: 25px;
		width: 100%;
		height: 100%;
		max-width: 300px;
		border-radius: 20px;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

	.pricing-card-container {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
	}

	.pricing-card-container h4 {
		padding-bottom: 5px;
	}

	.price-range {
		background-color: var(--primary-darkest);
		font-size: 1.2rem;
		font-weight: 600;
		padding: 15px 25px;
		margin: 10px 0 10px -35px;
		border-radius: 5px;
		color: var(--white);
	}

	.feature-points {
		padding: 10px 0 15px;
	}

	.feature-points li {
		display: flex;
		align-items: center;
		justify-content: start;
		padding: 10px 0;
	}

	.feature-points li img {
		padding-right: 10px;
	}
</style>
